
.kmeans-chart {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 10px;
    fill: #ccc;
}

.kmeans-chart .centroid {
    stroke: #000;
    stroke-width: 2px;
}

.kmeans-chart text.label {
    font-size: 20px;
    fill: #333;
    /*horisontal-align:middle;*/
}

.kmeans-chart .axis line, .axis path {
    fill: none;
    stroke-width: 1px;
    stroke: #ccc;
    shape-rendering: crispEdges;
}
