#playGround{
	height:calc( 100% - 100px);
	width:70%;
	background-color:transparent;

	float:left;
}
#InnerPane
{
	margin-top:25px;
	height:calc( 100% - 50px);
	margin-left:25px;
	width:calc( 100% - 50px);
	background-color:rgba(42,42,46,0.6);
	overflow:hidden;

}